@{
    ViewBag.Title = "Produced by";
}
<h2>@ViewBag.Title</h2>

<address>
    Dmytro Obolonyk, MCSD<br />
    .NET developer, SSA LTD
</address>

<address>
    <strong>Email:</strong>   <a href="dimonser147@gmail.com">dimonser147@gmail.com</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/dmytro-obolonyk">Dmytro Obolonyk</a><br />
    <strong>Skype:</strong> <a href="skype:dimonser_kh?userinfo">dimonser_kh</a>
</address>