<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="DefaultConnection" connectionString="data source=.\sqlexpress;initial catalog=aspnet-TPD.Presentation-20160321065059;integrated security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="TunePerformanceDemoEntities" connectionString="metadata=res://*/TunePerformanceDemo.csdl|res://*/TunePerformanceDemo.ssdl|res://*/TunePerformanceDemo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=TunePerformanceDemo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>